header {
    background-color: #a6efee;
    border: #7fd1cf;
    display: flex;
    justify-content: Centered;
    align-items: center;
    order: 2;
}

h2 {
    color: #081539;
}

body {
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #bdd8f6;
}

h1 {
    color: rgb(10, 32, 87);
}

footer {
    background-color: #bdd8f6;

}

.centered {
    text-align: center;
    border: #b2ddfc;
}

.Intro {
    color: #bdd8f6;
    max-width: 500px;
    text-align: left;
}

.headings {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-top: 250px;
}

.headings a {
    text-decoration: none;
    /* removes underline */
}

.website-welcome {
    color: #bdd8f6;
    max-width: 500px;
    display: flex;
    order: 2;
}

.photo-round {
    border-radius: 50%;
}

.font-style {
    font-family: 'Tangerine';
    font-size: 30px;

}

body {
    background-image: url('water-background.jpg');
    background-size: cover;
    /* stretches to fill the page */
    background-repeat: no-repeat;
    background-position: center;
}